html {
  color: rgb(0,130,140);
  background-color:black;
}
h1{
  font-size: 2vw;
}
.header{
  position:relative;
  overflow:hidden;
  background-color:rgb(10.10.17);
  border-color:rgb(40,42,48);
  border-style:solid;
  text-align: center;
  color:white;
  padding:15px;
}

.header img{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.15;
}
